
#mainframe{
display:grid;
grid-template-columns:1fr 8fr;
grid-gap:4px;
background-color:;
margin:var(--margin);
}
#mainframe>div{
background-color:var(--backcol);

}

.textbar{
	font-size:2vw;
	margin:var(--margin);
	height:100%;
	
}

iframe{
height:100%;
width:100%;
}