
#mainframe{
display:grid;
grid-template-columns:1fr 8fr;
grid-gap:4px;
background-color:;
margin:var(--margin);
}
#mainframe>div{
background-color:var(--backcol);

}

.textbar{
	font-size:2vw;
	margin:var(--margin);
	height:100%;
	
}
.textbar

#Column2{
display:grid;
grid-template-rows: 3
}

#Column2>div{
border-style:solid;
border-color:white;
border-top:0px;

}


#bottom{
border-bottom:0px;
}
iframe{
height:100%;
width:100%;
}