body{
--backcol:#003282;
--textcol:#ddeaff;
--headcol:#2d8d6e;
--margin:4px;
--padding:8px;
/*.basic{*/
font-family:'Roboto', sans-serif;
text-align:Left;
color:var(--textcol);
background-color:var(--backcol);
height:100%
}

h1{
color:var(--textcol)
}