body{
--backcol:#003282;
--textcol:#efffff;
--headcol:;
--margin:4px;
--padding:8px;
/*.basic{*/
font-family:'Roboto', sans-serif;
text-align:Left;
color:var(--textcol);
background-color:var(--backcol);
height:100%
}

h1{
color:var(--textcol);
}

a{
color:var(--textcol);