input{
width:40%;
border:1px solid black;
outline:none;
}
select{

 width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: var(--textcol);
}
/* {box-sizing: border-box} */

/* Full-width input fields */
  input{
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color:var(--textcol);
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
input[type=submit] {
  background-color: #2d8d6e;
  color: var(--textcol);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.checkboxes{
display:grid;
grid-template-columns:1fr 3fr;
text-align:left;
}

#col1{
vertical-align:center;
grid-column-start:1;
grid-column-end:2;
}

#col2{
vertical-align:center;

grid-column-start:2;
grid-column-end:3;
}

#col1>p{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 2px 0px;
}
.row0{
grid-row-start:1;
grid-row-end:2;

}

.row1{
grid-row-start:2;
grid-row-end:3;
}


.row2{
grid-row-start:3;
grid-row-end:4;
}

.row3{
grid-row-start:4;
grid-row-end:5;
}

.row4{
grid-row-start:5;
grid-row-end:6;
}


.row5{
grid-row-start:6;
grid-row-end:7;
}

.row6{
grid-row-start:7;
grid-row-end:8;
}

.row7{
grid-row-start:8;
grid-row-end:9;
}

.row8{
grid-row-start:9;
grid-row-end:10;
}

.row9{
grid-row-start:10;
grid-row-end:11;
}

.row10{
grid-row-start:11;
grid-row-end:12;
}

.row11{
grid-row-start:12;
grid-row-end:13;
}
